
<img src={{place.image}} alt="Picture of the place">


<p>{{place.description}}</p>
<p>{{place.address}}</p>
<p>{{place.latitude}}, {{place.longitude}}</p>
<p>{{place.price}}</p>
<p>{{place.rate}}</p>


<p>{{place.reviews}}</p>