<div class="horizontally-centered">
    <div id="profile-box">
        <div id="profile-info">
            <img id="profile-img" src="{{profilePic}}" alt="profile-img">
            <h6 id="profile-username">{{username}}</h6>
            <p id="profile-country">{{country}}</p>
        </div>
        <div class="places-info">
            <div id="places-addded-info">
                {{#if (listEmpty placesAdded.length)}}
                <h6 class="place-type"> <span class="num-info">{{placesAdded.length}}</span> Place added
                </h6>
                <p class="zero-results-profile">Go to FIND A PLACE and add new spots to help other travelers</p>
                {{else}}
                <h6 class="place-type"> <span class="num-info">{{placesAdded.length}}</span> Places added
                </h6>
            </div>
        </div>
        <div class="place-details-box">
            {{#each placesAdded}}
            <a href="/places/{{this._id}}">
                <div class="place-details-item">
                    <img src="{{this.image}}" alt="place-img" class="place-img">
                    <p class="places-address">{{this.address}}</p>
                </div>
            </a>
            {{/each}}
            {{/if}}
        </div>
        <div id="places-visited-info">
            {{#if (listEmpty placesVisited.length)}}
            <h6 class="place-type place-type-visited"> <span class="num-info">{{placesVisited.length}}</span> Place
                visited</h6>
            <p class="zero-results-profile">Add a new review to a place to see here the spots that you have visited</p>
            {{else}}
            <h6 class="place-type place-type-visited"> <span class="num-info">{{placesVisited.length}}</span> Places
                visited</h6>
            <div class="place-details-box">
                {{#each placesVisited}}
                <a href="/places/{{this._id}}">
                    <div class="place-details-item">
                        <img src="{{this.image}}" alt="" class="place-img">
                        <p class="places-address">{{this.address}}</p>
                    </div>
                </a>
                {{/each}}
            </div>
            {{/if}}
        </div>
    </div>
</div>