<div id="test"></div>
<img src="{{profilePic}}" alt="">
<h6>{{username}}</h6>
<p>{{country}}</p>

<h6> <span>{{placesAdded.length}}</span> Places added</h6>
{{#each placesAdded}}
<img src="{{this.image}}" alt="">
<p>{{this.address}}</p>
{{/each}}

<h6><span>{{placesVisited.length}}</span> Places visited</h6>
{{#each placesVisited}}
<img src="" alt="">
<p>Address</p>
{{/each}}